@model SupervisorProfileViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="card col-sm-8">
        <h5 class="card-header">My Supervisor Info</h5>
        <div class="card-body">
            <h5 class="card-title mb-3 fw-bold">@Model.FullName</h5>
            <hr class="hr" />
            <p class="card-title mt-3">Employees:</p>

            @foreach (var employee in Model.Employees)
            {
                <a asp-area="Supervisors" asp-controller="Employees" asp-action="Details"
                   asp-route-id="@employee.Id" class="me-4">@employee.FullName</a>
            }
        </div>
    </div>

    <div class="col-sm-1"></div>

    <a asp-area="Supervisors" asp-controller="Employees" asp-action="Add"
       class="btn btn-primary col-sm-3">Add New Employee</a>
</div>

<h5 class="card-header">Pending Requests</h5>
<div class="row scrollable">
    @foreach (var request in Model.PendingRequests)
    {
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">From: @request.StartDate</p>
                    <p class="card-text">To: @request.EndDate</p>
                    <p class="card-text">By: @request.EmployeeFullName</p>
                    <a asp-area="Supervisors" asp-controller="Requests" asp-action="Respond"
                       asp-route-id="@request.Id" class="btn btn-primary">Respond</a>
                </div>
            </div>
        </div>
    }
</div>
